.categories {
  list-style-type: none;
  padding: 0;
  overflow: auto;
}
.categories li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  margin: 0.5em 0;
  padding: 5px 15px 5px 60px;
  height: 30px;
  min-width: 320px;
  max-width: 320px;
  border-radius: 4px;
}
.categories li.selected {
  background-color: black;
  color: white;
}
.categories li.selected:hover {
  background-color: #505050;
  color: white;
}
.categories li.selected:active {
  background-color: black;
  color: white;
}
.categories .badge {
  position: absolute;
  left: 0;
  font-size: small;
  color: white;
  background: #757474;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
}
.categories .remove {
  top: 8px;
  right: 8px;
  color: red;
  cursor: pointer;
}
