<h2>Adicionar Dispositivo</h2>

<form method="POST" [formGroup]="deviceForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="category">Category</label>
    <select formControlName="Category" id="category">
      <option value="" selected disabled hidden>Choose here</option>
      <option *ngFor="let category of categories" value="{{ category.Id }}">
        {{ category.Name }}
      </option>
    </select>
    <!-- <control-messages
      [control]="categoryCreationForm.get('Category')"
    ></control-messages> -->
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input
      id="color"
      type="text"
      formControlName="Color"
      class="form-control"
      maxlength="128"
    />
    <!-- <control-messages
      [control]="categoryCreationForm.get('Color')"
    ></control-messages> -->
  </div>
  <div class="form-group">
    <label for="part_number">Part Number</label>
    <input
      id="part_number"
      type="text"
      formControlName="partNumber"
      class="form-control"
      maxlength="128"
    />
    <!-- <control-messages
      [control]="categoryCreationForm.get('partNumber')"
    ></control-messages> -->
  </div>
  <button type="submit">Salvar</button>
</form>
