<h2>Add Category</h2>

<form method="POST" [formGroup]="categoryForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      id="name"
      type="text"
      formControlName="Name"
      class="form-control"
      appFocus
    />
    <div
      *ngIf="Name?.invalid && (Name?.dirty || Name?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="Name?.errors?.required">Name is required.</div>
      <div *ngIf="Name?.errors?.maxLength">128 characters maximum.</div>
    </div>
  </div>
  <button type="submit" [disabled]="categoryForm.invalid">Save Category</button>
</form>
